@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Big+Shoulders+Display:wght@600;700&family=Fraunces:opsz,wght@9..144,500;9..144,700&family=Inter:wght@300;700&family=Lexend+Deca:wght@100;400;500&family=Montserrat:wght@500&family=Outfit:wght@300;500&family=Rubik:wght@500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 1px solid black;
}

body {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'be vietnam pro';
    /* padding: 0 2% 0 2%; */
}

.div-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 9rem;
    width: 100%;
    max-width: 70rem;
}

.div-1 ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 30rem;
}

.div-1 ul li {
    display: flex;
    /* min-width: max-content; */
    flex-wrap: nowrap;
    min-width: fit-content;
    font-size: 0.8em;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.081);
    color: hsl(228, 39%, 23%);
}

.get-start {
    display: flex;
    flex-wrap: nowrap;
    min-width: fit-content;
    max-width: fit-content;
    padding: 1.27em 2.6em 0.9em 2.6em;
    border-radius: 30px;
    background-color: hsl(12, 88%, 59%);
    color: rgba(255, 255, 255, 0.867);
    font-size: 0.75em;
    font-weight: 500;
    text-shadow: 2px 2px 4px hsl(12, 88%, 59%);
    box-shadow: 0px 10px 10px hsla(12, 88%, 59%, 0.305);
}

.div-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40rem;
    width: 100%;
    max-width: 70rem;
}

.div-2-card-1 {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    justify-content: center;
    gap: 2rem;
    width: 50%;
    height: 100%;
}

.div-2-card-2 {
    display: flex;
    /* width: 50%; */
}

.div-2-card-2 img {
    width: 100%;
}

.bring {
    font-size: 3.5em;
    max-width: 30rem;
    line-height: 1.2;
    font-weight: 600;
    color: hsl(228, 39%, 23%);
}
.manage {
    font-size: 1em;
    max-width: 22rem;
    line-height: 1.6;
    color: hsl(227, 12%, 61%);
}

.div-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40rem;
    width: 100%;
    max-width: 70rem;
}

.div-3-card-1 {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    gap: 2rem;
    width: 50%;
    height: 100%;
    padding: 50px 10px 50px 10px;
}

.div-3-card-2 {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    justify-content: center;
    gap: 1.4rem;
    width: 50%;
    height: 100%;
    /* padding: 20px 0 20px 0; */
}

.whats {
    font-size: 2.5em;
    font-weight: 600;
    max-width: 30rem;
    color: hsl(228, 39%, 23%);
    line-height: 1.1;
}

.manage-2 {
    font-size: 1em;
    max-width: 22rem;
    color: hsl(227, 12%, 61%);
    line-height: 1.6;
}

.div-3-numbers {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    font-weight: 700;
    gap: 1.8em;
    font-size: 0.95em;
    color: hsl(228, 39%, 23%);
}

.div-3-numbers-buttons {
    padding: 0.7em 1.6em 0.7em 1.6em;
    border-radius: 30px;
    width: fit-content;
    background-color: hsl(12, 88%, 59%);
    color: rgba(255, 255, 255, 0.935);
    margin-left: 15px;
}

.div-3-card-2-paragraph {
    max-width: 28rem;
    align-self: flex-end;
    font-size: 1em;
    font-weight: 100;
    color: hsl(227, 12%, 61%);
    line-height: 1.6;
}

.div-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 46rem;
    width: 100%;
    max-width: 70rem;
    gap: 3rem;
}

.what-said {
    font-size: 2.4em;
    font-weight: 600;
    margin-bottom: 3rem;
    margin-top: -4rem;
    color: hsl(228, 39%, 23%);
}

.bravo-card {
    flex: 1;
    width: 100%;
    min-width: 0%;
    max-width: 34rem;
    max-height: 14rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: hsl(0, 0%, 98%);
}

.bravo-card img {
    width: 4.5rem;
    position: absolute;
    top: 1640px;
}

.ali-bravo {
    font-weight: 600;
    margin-top: 2rem;
    color: hsl(228, 39%, 23%);
}

.bravo-card-paragraph {
    text-align: center;
    font-weight: 100;
    max-width: 30rem;
    line-height: 1.7;
    color: hsl(227, 12%, 61%);
}

.div-5 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 13.5rem;
    width: 100%;
    max-width: 90rem;
    gap: 3rem;
    background-color: hsl(12, 88%, 59%);
}

.simplify {
    font-size: 2.4em;
    font-weight: 500;
    max-width: 30rem;
    color: white;
}

.get-start-2 {
    display: flex;
    flex-wrap: nowrap;
    min-width: fit-content;
    max-width: fit-content;
    padding: 1.27em 2.6em 0.9em 2.6em;
    border-radius: 30px;
    color: hsl(12, 88%, 59%);
    background-color: rgb(255, 255, 255);
    font-size: 0.75em;
    font-weight: 600;
    text-shadow: 2px 2px 4px hsl(0, 0%, 100%);
    /* box-shadow: 0px 10px 10px hsla(12, 88%, 59%, 0.305); */
}

.div-6 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15.5rem;
    width: 100%;
    max-width: 90rem;
    background-color: hsl(233, 12%, 13%);
    color: white;
    font-size: 0.84em;
    font-weight: 100;
}

.manage-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31%;
    min-height: 50%;
}

.social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31%;
    min-height: 50%;
    gap: 0.7rem;
}

.contact-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    min-height: 100%;
}

.contact-list ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 9rem;
    width: 100%;
    list-style: none;
}

.contact-list li {
    min-height: 25%;
    font-size: 1.02em;
    /* text-shadow: 1px 1px 10px rgb(255, 255, 255); */
    color: rgba(255, 255, 255, 0.828);
}

.search-container {
    /* height: 3rem; */
    width: 29%;
    display: flex;
    flex-wrap: wrap;
}

.copyright {
    /* height: 3rem; */
    width: 21%;
    height: 5rem;
    display: flex;
    align-items: last baseline;
    font-size: 0.9em;
    color: hsla(227, 5%, 65%, 0.815);
}

.updates {
    padding: 1.1em 3.5em 1.1em 1.4em;
    border-radius: 40px;
    background-color: white;
    color: hsl(227, 12%, 61%);
    font-size: 0.9em;
}

.updates-go {
    padding: 1.6em 2.2em 0 2.2em;
    border-radius: 40px;
    background-color: hsl(12, 88%, 59%);
    font-size: 0.8em;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
    
.attribution a {
    color: hsl(228, 45%, 44%);
}